<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.dao.impl.TestDaoImpl">
	<resultMap id="BaseResultMap" type="com.java.entity.Test">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="test_name" property="testName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, test_name
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sc_test
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from sc_test
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.java.entity.Test">
		insert into sc_test (id, test_name)
		values (#{id,jdbcType=VARCHAR}, #{testName,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.java.entity.Test">
		insert into sc_test
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="testName != null">
				test_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="testName != null">
				#{testName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.java.entity.Test">
		update sc_test
		<set>
			<if test="testName != null">
				test_name = #{testName,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.java.entity.Test">
		update sc_test
		set test_name = #{testName,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>