<!--#include virtual="/header.html" -->
<div class="content ms-controller" ms-controller="userList">
	<input type="button" value="添加" ms-click="addView()"> 
	<a href="/upload/uploadFile.html">去图片管理列表</a>
	<div ms-widget="smartgrid, smartgridUserList, $smartgridUserList"></div>

	<div ms-widget="dialog, userViewDialog, $userViewDialogOpts" style="display: none">
		<form class="userForm" style="text-align: center;">
			<input type="hidden" value="" name="id" ms-duplex="userId">
			<div>
				用户名：<input type="text" value="" name="userName" ms-duplex="userName">
			</div>
			<div>
				密<span style="margin-left: 12px;"></span>码：<input type="password" value="" name="userPwd" ms-duplex="userPwd">
			</div>
			<div>
				昵<span style="margin-left: 12px;"></span>称：<input type="text" value="" name="displayName" ms-duplex="displayName">
			</div>
		</form>
	</div>
</div>
<!--#include virtual="/footer.html" -->

<script type="text/javascript">
	require([ "dialog/avalon.dialog", "smartgrid/avalon.smartgrid", "domReady!" ], function() {
		var userList = avalon.define("userList", function(vm) {
			vm.userId = "";
			vm.userName = "";
			vm.userPwd = "";
			vm.displayName = "";

			vm.$skipArray = [ "smartgrid" ]
			vm.$smartgridUserList = {
				columns : [ {
					key : "id",
					name : "序号"
				}, {
					key : "userName",
					name : "名称"
				}, {
					key : "operate",
					format : "operate",
					name : "操作"
				} ],
				// 渲染列数据的方法集合
				htmlHelper : {
					operate : function(vmId, field, index, cellValue, rowData) {
						return '<a href="javascript:;" ms-click="editView(\'' + rowData.id + '\')">编辑</a>&nbsp;<a href="javascript:;" ms-click="deleteObj(\'' + rowData.id + '\')">删除</a>';
					}
				},
				//设置分页
				pageable : true,
				pager : {
					onJump : function(e, pagerVM) {
						showList();
					},
					canChangePageSize : true,
					perPages : 10,
					options : [ 10, 20, 30, 50, 100 ],
					dropdown : {
						onChange : function(newValue, oldValue, vmodel) {
							avalon.vmodels.smartgridUserList.pager.perPages = newValue;
							showList();
						}
					}
				}
			}

			vm.$userViewDialogOpts = {
				width : 300,
				draggable : true,
				onConfirm : function() {
					saveUser();
				},
				onCancel : function() {
					clearObj();
				},
				onClose : function() {
					clearObj();
				}
			}

			vm.addView = function() {
				var dialog = avalon.vmodels.userViewDialog;
				dialog.title = "添加用户";
				dialog.toggle = true;
			}

			vm.editView = function(id) {
				var dialog = avalon.vmodels.userViewDialog;
				dialog.title = "编辑用户";
				dialog.toggle = true;
				showView(id);
			}

			vm.deleteObj = function(id) {
				deleteObj(id);
			}
		})

		avalon.scan();
		setTimeout(function() {
			showList();
		}, 300);
	});

	function showList() {
		var gridAVM = avalon.vmodels.smartgridUserList;
		gridAVM.showLoading();

		var param = {};
		param.pageNum = avalon.vmodels.smartgridUserList.pager.currentPage;
		param.pageSize = avalon.vmodels.smartgridUserList.pager.perPages;

		$.ajax({
			type : "post",
			dataType : "json",
			contentType : "application/json",
			data : JSON.stringify(param),
			url : "/user/getUserList.json",
			success : function(dataResult) {
				var data = dataResult.data.dataList;
				var totalRecords = dataResult.data.total;
				if (totalRecords == 0) {
					gridAVM.noResult = '暂无数据';
					gridAVM.pageable = false;
				} else {
					gridAVM.pageable = true;
					avalon.vmodels.smartgridUserList.pager.totalItems = totalRecords;
				}
				gridAVM.render(data);
				gridAVM.hideLoading();
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) {
				gridAVM.noResult = '暂无数据';
				gridAVM.pageable = false;
				gridAVM.hideLoading();
			}
		});
	}

	function saveUser() {
		var param = $(".userForm").serializeJson();
		$.ajax({
			type : "post",
			dataType : "json",
			contentType : "application/json",
			data : param,
			url : "/user/saveUser.json",
			success : function(dataResult) {
				var data = dataResult.status;
				if (data > 0) {
					alert("保存成功！");
					showList();
				} else {
					alert("保存失败！");
				}
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) {
				alert("保存失败！");
			}
		});
	}

	function deleteObj(id) {
		if (!confirm("确认删除？")) {
			return;
		}
		$.ajax({
			type : "post",
			dataType : "json",
			data : {
				id : id
			},
			url : "/user/deleteUser.json",
			success : function(dataResult) {
				var data = dataResult.status;
				if (data > 0) {
					alert("删除成功！");
					showList();
				} else {
					alert("删除失败！");
				}
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) {
				alert("删除失败！");
			}
		});
	}

	function showView(id) {
		$.ajax({
			type : "post",
			dataType : "json",
			data : {
				id : id
			},
			url : "/user/getUserById.json",
			success : function(dataResult) {
				var data = dataResult.data;
				var dialog = avalon.vmodels.userList;
				dialog.userId = data.id;
				dialog.userName = data.userName;
				dialog.userPwd = data.userPwd;
				dialog.displayName = data.displayName;
			}
		})
	}

	function clearObj() {
		var dialog = avalon.vmodels.userList;
		dialog.userId = "";
		dialog.userName = "";
		dialog.userPwd = "";
		dialog.displayName = "";
	}
</script>
