<div class="breadcrumbs">
	<ul class="breadcrumb mb0">
		<li>
	       	<span class="icon-th-large" style="color: #428bca;"></span>
        	<a href="#">首页</a> 
            <span class="icon-double-angle-right"></span>
      	</li>
      	<li>
        	<a href="#">菜单1</a> 
            <span class="icon-double-angle-right"></span>
       	</li>
      	<li class="active">菜单11</li>
    </ul>
</div>

<div ng-controller="roleListController">
	<img class="fadeInImg">
	1231231dawdwadawdawd12222222222
</div>