<!--#include virtual="/header.html"-->
<div class="content ms-controller" ms-controller="imageList">
	<input type="button" value="上传图片" ms-click="upload()">
	<div ms-widget="smartgrid, smartgridImageList, $smartgridImageList"></div>

	<!--弹出遮罩层-->
	<div class="zpzs_gray"></div>
	<!--上传框开始-->
	<div id="uploader">
		<!--上传框头部-->
		<div class="add_img_head">
			<span></span> <b class="closeBtn"></b>
		</div>
		<!--缩略图容器-->
		<div id="fileList"></div>
		<!--选择图片按钮-->
		<div class="add_img">
			<div id="filePicker"></div>
			<p>按住Ctrl可多选照片</p>

			<p>单次上传最多12张(单张最大2M)</p>

			<div class="uploadBtn">开始上传</div>
		</div>
	</div>
	<!--上传框结束-->
</div>
<!--#include virtual="/footer.html"-->

<script type="text/javascript">
	require([ "smartgrid/avalon.smartgrid" ], function() {
		var smartgridImageList = avalon.define("imageList", function(vm) {
			vm.$skipArray = [ "smartgrid" ]
			vm.$smartgridImageList = {
				columns : [ {
					key : "id",
					name : "序号"
				}, {
					key : "imgName",
					name : "图片名称"
				}, {
					key : "imgUrl",
					name : "图片",
					format : 'imgUrl'
				}, {
					key : "userId",
					name : "图片所有者"
				} ],
				// 渲染列数据的方法集合
				htmlHelper : {
					imgUrl : function(vmId, field, index, cellValue, rowData) {
						return '<img alt="' + rowData.imgName + '" src="' + rowData.imgUrl + '"  width="50" height="50">';
					}
				},
				//设置分页
				pageable : true,
				pager : {
					onJump : function(e, pagerVM) {
						showList();
					},
					canChangePageSize : true,
					perPages : 10,
					options : [ 10, 20, 30, 50, 100 ],
					dropdown : {
						onChange : function(newValue, oldValue, vmodel) {
							avalon.vmodels.smartgridImageList.pager.perPages = newValue;
							showList();
						}
					}
				}
			}

			vm.upload = function() {
				$(".zpzs_gray, #uploader").show();
			}
		})
		avalon.scan();
		setTimeout(function() {
			showList();
		}, 300);
	})

	function showList() {
		var gridAVM = avalon.vmodels.smartgridImageList;
		gridAVM.showLoading();
		
		var param = {};
		param.pageNum = avalon.vmodels.smartgridImageList.pager.currentPage;
		param.pageSize = avalon.vmodels.smartgridImageList.pager.perPages;
		
		$.ajax({
			type : "post",
			dataType : "json",
			contentType : "application/json",
			data : JSON.stringify(param),
			url : "/image/getImageList.json",
			success : function(dataResult) {
				var data = dataResult.data.dataList;
				var totalRecords = dataResult.data.total;
				if (totalRecords == 0) {
					gridAVM.noResult = '暂无数据';
					gridAVM.pageable = false;
				} else {
					gridAVM.pageable = true;
					avalon.vmodels.smartgridImageList.pager.totalItems = totalRecords;
				}
				gridAVM.render(data);
				gridAVM.hideLoading();
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) {
				gridAVM.noResult = '暂无数据';
				gridAVM.pageable = false; //分页栏隐藏
				gridAVM.hideLoading();
			}
		});
	}
</script>