<!--#include virtual="/header.html" -->
<div class="content">
	<div class="div2">
		<form class="loginForm">
			用户名：<input type="text" name="userName"> 密码：<input type="password" name="userPwd"> <input type="button" value="登录" onclick="doLogin();">
		</form>
	</div>
</div>
<!--#include virtual="/footer.html" -->

<script type="text/javascript">
	$(function() {

	});

	function doLogin() {
		var param = $(".loginForm").serializeJson();
		$.ajax({
			type : "post",
			dataType : "json",
			contentType : "application/json",
			data : param,
			url : "/login.json",
			success : function(dataResult) {
				if (dataResult.status == 1) {
					alert(dataResult.msg);
					window.location.href = "/user/mylist.html";
				} else {
					alert(dataResult.msg);
				}
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) {

			}
		});
	}
</script>