<!-- 公共头部导航 start -->
<div class="main-navigation" ng-controller="indexHeaderController">
	<div class="row" >
		<div class="col-sm-12">
			<div class="navbar-header">
				<span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
				<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-align-justify"></i>
				</span>
			</div>
			<div class="collapse navbar-collapse" id="main-menu">
				<ul class="menu">
					<li class="nav-current" role="presentation"><a href="/">首页</a></li>
					<li role="presentation"><a href="/articleList?cateid=1">曝光台</a></li>
					<li role="presentation"><a href="/articleList?cateid=2">防盗防偷</a></li>
					<li role="presentation"><a href="/articleList?cateid=3">防范大全</a></li>
					<li role="presentation"><a href="/articleList?cateid=4">法律常识</a></li>
				</ul>
			</div>
	   	</div>
  	</div>
   	<div class="login" id="login"><a href="/login">登录</a></div>
</div>
<script type="text/javascript">
	$(function(){
		commonApp.init();
	});
	var indexApp = angular.module("index",[]);
	indexApp.controller("indexHeaderController", function($scope, $http) {
		$http({
			method : "post",
			url : "/articleList.json",
			data : {}
		}).success(function(dataResult) {
			var result =  dataResult.data.dataList;
			$scope.articleList = result;
		});
	});
</script>
<!-- 公共头部导航 end -->