<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!-- 确保移动端全屏显示 不能缩放 -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<meta name="description" content="angular+bootstrap">
	<title>登录</title>
	<link href="/static/css/base/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/base/font-awesome.min.css" rel="stylesheet">
	<link href="/static/css/base/common.css" rel="stylesheet">
	<link href="/static/css/web/index.css" rel="stylesheet">
	<script src="/static/js/base/angular.min.js"></script>
	<script src="/static/js/base/jquery-3.1.1.min.js"></script>
	<script src="/static/js/base/bootstrap.min.js"></script>
	<script src="/static/js/base/bootstrapValidator.min.js"></script>
	<script src="/static/js/web/index.js"></script>
</head>
<body>

</body>
</html>